.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 20%;
  margin-top: 50px;
}
.card-body {
  background-color: #f8f9fa;
}

#numLabel {
  font-size: 120px;
  text-align: center;
  color: #6c757d;
}

#buttonDiv {
  text-align: center;
}

.btn {
  width: 80px;
  height: 80px;
  margin-left: 5px;
}
